<div style="font-style: normal; padding-bottom: 2rem; padding-top: 11rem;">       
    <div style="flex: 0 0 100%; max-width: 100%; display: block; text-align: center;">               
        <img
                style="max-height: 4.5rem; width: auto;"
                th:if="${credential.credentialSubject.hasClaim[0].awardedBy.awardingBody[0].logo != null}"
                th:src="${credential.credentialSubject.hasClaim[0].awardedBy.awardingBody[0].logo}"
        />
        <!-- <img style="max-height: 4.5rem; width: auto;" src="[$//eup:organization[@id=/eup:europassCredential/cred:issuer/@idref]/eup:logo$]"/> -->        
		<br/><br/><br/><br/>
        <p style="font-size: 0px; color: #525252;" th:text="${credential.credentialSubject.hasClaim[0].awardedBy.awardingBody[0].legalName}">         
		<!-- [$//eup:organization[@id=/eup:europassCredential/cred:issuer/@idref]/eup:prefLabel$]-->
        </p>       
	</div>       
	<div style="flex: 0 0 100%; max-width: 100%;">              
		<p style="margin-bottom:0; padding-left: 0.5rem !important; text-align: center !important; font-weight: 700 !important; color: #004494 !important; font-size: 31px;" th:text="${credential.displayParameter.title}"></p>
        <p style="margin-top:0; text-align: center !important; font-weight: 700 !important; color: #004494 !important; font-size: 31px;" th:text="#{formation}">
        <!-- [$/eup:europassCredential/eup:title$] <br/> ($formation$)-->
        <br/>             
		</p>       
    </div>      
	<div style="flex: 0 0 100%; max-width: 100%;">              
		<p style="text-align: center; font-weight: 700 !important; font-size: 18px;" th:text="${credential.credentialSubject.hasClaim[0].awardedBy.awardingBody[0].legalName}">           
		<!-- [$//eup:organization[@id=/eup:europassCredential/cred:issuer/@idref]/eup:prefLabel$]-->           
		</p>               
		<p style="text-align: center; font-size: 18px;" th:text="#{diploma.msg.certifiesThat}"> 
		<!-- ($diploma.msg.certifiesThat$)-->           
		</p>       
		<p style="text-align: center !important; font-weight: 700 !important; font-size: 31px; margin-top: 2rem; margin-bottom: 2rem; color: #004494 !important; font-style: italic !important;" th:with="
           caseFullName = ${credential.credentialSubject.fullName != null and !#strings.isEmpty(credential.credentialSubject.fullName)},
           caseGivenName = ${credential.credentialSubject.givenName != null and !#strings.isEmpty(credential.credentialSubject.givenName)},
           caseBirthName = ${credential.credentialSubject.birthName != null and !#strings.isEmpty(credential.credentialSubject.birthName)},
           caseFamilyName = ${credential.credentialSubject.familyName != null and !#strings.isEmpty(credential.credentialSubject.familyName)},
           caseNationalID = ${credential.credentialSubject.nationalID != null and !#strings.isEmpty(credential.credentialSubject.nationalID)}"
           th:text="${
           caseFullName ? credential.credentialSubject.fullName :
           caseGivenName ? #strings.concatReplaceNulls('', credential.credentialSubject.givenName, ' ', credential.credentialSubject.patronymicName, ' ', credential.credentialSubject.familyName) :
           caseBirthName ? credential.credentialSubject.birthName :
           caseFamilyName ? credential.credentialSubject.familyName :
           caseNationalID ? credential.credentialSubject.nationalID : 'Anonymous'
           }"></p>
		<!-- [$/eup:europassCredential/eup:credentialSubject/eup:fullName$]-->
	</div>       
	<div style="flex: 0 0 100%; max-width: 100%; height: 7cm; margin: 0 auto; width: 87%; padding-bottom: 1rem !important;">               
		<p style="margin-bottom:0; font-size: 17px; text-align: center; font-weight: 300 !important;" th:text="#{born} + ' ' + ${#temporals.format(credential.credentialSubject.dateOfBirth, 'dd/MM/yyyy')}"></p>
        <p style="margin-top:0; font-size: 17px; text-align: center; font-weight: 300 !important;" th:text="${credential.displayParameter.description}"></p>
		<p style="font-size: 17px; text-align: center; font-weight: 300 !important;" th:text="#{registration} + ' ' + ${credential.credentialSubject.nationalID.notation}"></p>
        <p style="font-size: 17px; text-align: center; font-weight: 300 !important;" th:text="#{mention} + ' ' + #{grade}"></p>
        <!-- ($born$) [$/eup:europassCredential/eup:credentialSubject/eup:dateOfBirth$] <br/> [$/eup:europassCredential/eup:description$]<br/><br/> ($registration$) [$/eup:europassCredential/eup:credentialSubject/eup:nationalId$] <br/><br/>
		($mention$) ($grade$)--> 
		</p>       
	</div>      
	<!--Issue date is now featured in the credential header, there is no need to display it on the summary image
    <div style="flex: 0 0 100%; max-width: 100%; margin-left: 2.5rem;">  
		<p style="font-style: oblique; text-align: left; font-weight: 300 !important;">  
		[$/eup:europassCredential/cred:issued$]               
		</p>        
	</div>-->
</div>