 <div style="font-style: normal; padding-bottom: 2rem; padding-top: 6rem; padding-left: 3rem !important; padding-right: 3rem !important;">
    <div
            style="flex: 0 0 100%; max-width: 100%; display: block; text-align: center;"
    >
        <img
                style="max-height: 4.5rem; width: auto;"
                th:if="${credential.issuer.logo != null}"
                th:src="${credential.issuer.logo}"
        />
        <br/><br/><br/><br/>
    </div>
    <div style="flex: 0 0 100%; max-width: 100%;">
        <p style="padding-left: 0.5rem !important; margin: 3rem 1em; text-align: center !important; font-weight: 700 !important; color: #004494 !important; font-size: 42px;"
         th:text="${credential.displayParameter.title}">
        </p>
    </div>
    <div style="flex: 0 0 100%; max-width: 100%; margin: 0 auto; width: 87%; padding-bottom: 1rem !important;">
        <p style="font-size: 18px; text-align: center; font-weight: 300 !important;"
         th:text="${credential.displayParameter.description}">
        </p>
    </div>
    <div style="flex: 0 0 100%; max-width: 100%;">
        <p style="font-weight: 700 !important; font-size: 32px; margin-top: 1rem; margin-bottom: 2rem; color: #004494 !important; text-align: center;"
         th:text="${credential.credentialSubject.givenName} + ' ' + ${credential.credentialSubject.familyName}">
        </p>
		<br/>
    </div>
    <div style="flex: 0 0 100%; max-width: 100%;">
         <p style="text-align: center; font-size: 18px;" th:text="#{forthe}">
		 </p><br/>
    </div>
    <div style="flex: 0 0 100%; max-width: 100%;">
         <p style="color: #004494 !important; text-align: center; font-weight: 700 !important; font-size: 28px;"
         th:text="${credential.credentialSubject.hasClaim[0].title}">
        </p><br/><br/>
    </div>
    <div style="flex: 0 0 100%; max-width: 100%;">
        <p style="text-align: center; font-size: 18px; font-weight: 300 !important;" th:text="#{by}">
            </p>
        <p style="text-align: center; font-size: 32px; font-weight: 700 !important;" th:text="${credential.credentialSubject.hasClaim[0].awardedBy.awardingBody[0].legalName}">
        </p><br/><br/>

         <p style="text-align: center; font-size: 18px;" th:text="#{eventDate} + ' ' + #{eventWorkload}">
            </p><br/><br/><br/><br/>
    </div>
</div>
<p><a href="https://europa.eu/europass/digital-credentials/viewer/#/shareview/zMF2dpf1AuIRoO65" target="_blank">Share link to issued EDC</a></p>